html {
  height: 100%; }

body {
  font: 11px Arial, sans-serif;
  background-color: #e1e1e1; }

#app {
  height: 100%;
  margin: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-flow: column; }

#top {
  /*
  z-index: 10;
  display: block;
  height: auto;
  */
  flex: 0; }
  #top .left {
    float: left; }
  #top .middle {
    overflow: hidden;
    position: relative; }
    #top .middle .tab.invisible-tab {
      margin-left: 0;
      margin-right: 0;
      opacity: 0; }
    #top .middle .tab.absolute-tab {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin-left: 0;
      margin-right: 0; }
  #top .right {
    float: right; }

#sortable {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none; }
  #sortable li {
    margin: 0;
    padding: 0; }

.tabs-wrapper {
  flex: 1;
  max-height: 100%;
  overflow: auto; }
  .tabs-wrapper .tabs {
    display: block; }
    .tabs-wrapper .tabs .space {
      width: 100%;
      height: 5px; }
    .tabs-wrapper .tabs .clear:after {
      clear: both;
      content: "";
      display: table; }

.tab-wrapper {
  width: 100%; }
  .tab-wrapper .tab {
    flex: 1;
    margin: 5px;
    overflow: hidden;
    border: 1px solid darkgray;
    border-radius: 5px;
    box-sizing: border-box;
    z-index: 1;
    position: relative; }
    .tab-wrapper .tab.button {
      width: 24px; }
    .tab-wrapper .tab .center {
      text-align: center;
      transform: translateY(-50%);
      position: relative;
      top: 50%;
      display: block; }
    .tab-wrapper .tab .icon {
      height: 100%;
      width: 16px;
      float: left;
      margin-left: 5px;
      display: flex;
      align-items: center; }
      .tab-wrapper .tab .icon img {
        vertical-align: middle;
        width: 16px;
        height: 16px;
        margin: auto; }
      .tab-wrapper .tab .icon i {
        margin: auto; }
    .tab-wrapper .tab .new {
      line-height: 24px;
      text-align: center;
      display: block; }
    .tab-wrapper .tab.highlighted {
      border-radius: 5px;
      background: whitesmoke;
      z-index: 2; }

/* highlight the currently selected tab. */
    .ng-isolate-scope .tab.highlighted {
  background: white;
  border-left: 26px solid #03A9F4;
}
/* highlight currently selected window */
.windowContainer.ng-scope:has(.tab.highlighted) {
  background: lch(81.68 18.99 287.43 / 1);
  padding-left: 5px;
}

    .tab-wrapper .tab .title {
      height: 100%;
      min-width: 0;
      z-index: 4;
      box-sizing: border-box;
      display: flex;
      align-items: center; }
      .tab-wrapper .tab .title span {
        overflow: hidden;
        margin-right: 20px;
        margin-left: 5px;
        white-space: nowrap;
        text-overflow: ellipsis; }
    .tab-wrapper .tab .close {
      width: 24px;
      z-index: 5;
      opacity: 0.1;
      transition-property: opacity;
      transition-duration: 0.4s;
      transition-timing-function: ease-in-out;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0; }
      .tab-wrapper .tab .close:hover {
        opacity: 1; }
      .tab-wrapper .tab .close .fa {
        display: table-cell;
        vertical-align: middle; }
    .tab-wrapper .tab .form-control {
      display: table-cell;
      padding: 5px;
      width: 100%;
      background: white;
      border: none;
      opacity: 0.8; }

#logo {
  display: block;
  width: 100px;
  height: 100px;
  background-image: url("chrome-extension://__MSG_@@extension_id__/assets/images/al_gray.png");
  background-size: contain;
  margin: auto; }
  #logo:hover {
    background-image: url("chrome-extension://__MSG_@@extension_id__/assets/images/al_blue.png"); }

.separator {
  margin: 0 9px;
  background: #aaa;
  clear: both;
  float: none;
  height: 1px;
  border: none;
  opacity: 0.8; }

.window-separator {
  margin: 8px;
  opacity: 0.6;
  font-size: 0.85em;
  text-align: center; }

.button {
  margin-bottom: 4px;
  border: 1px solid darkgray;
  border-radius: 5px;
  z-index: 1; }

.icons {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: contain;
  transition-property: opacity;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out; }
  .icons span {
    font-size: 16px; }
  .icons .disabled {
    opacity: 0.25; }

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; }
  .tooltip .text {
    visibility: hidden;
    width: 300px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px; }
  .tooltip:hover .text {
    visibility: visible; }

#options {
  padding-top: 10px;
  background-color: whitesmoke; }

.fade {
  transition: 0.25s linear all;
  opacity: 1; }

.fade.ng-hide {
  opacity: 0; }

/*# sourceMappingURL=app.css.map */
